/*============================================================= Colors =============================================================*/
$primary: #1b4568;
$primary-70: #5d7a93;
$primary-50: #8a9fb0;
$secondary: #266dd3;
$secondary-70: #6596de;
$secondary-50: #8fb3e6;
$danger: #ff312e;
$danger-70: #fd6c6a;
$danger-50: #fc9593;
$success: #97db4f;
$success-70: #b4e381;
$success-50: #c8eaa4;
$warning: #f46036;
$warning-70: #f58d70;
$warning-50: #f6ac97;
$black: #000103;
$white: #ffffff;
$dark-gray: #1b1b1b;
$gray: #767676;
$light-gray: #c6c6c6;
$lighter-gray: #dddddd;
$grayscale-95: #272727;
$grayscale-90: #313131;
$grayscale-85: #3d3d3d;
$grayscale-80: #494949;
$grayscale-75: #545454;
$grayscale-70: #5f5f5f;
$grayscale-65: #6b6b6b;
$grayscale-60: #767676;
$grayscale-55: #828282;
$grayscale-50: #8d8d8d;
$grayscale-45: #989898;
$grayscale-40: #a4a4a4;
$grayscale-35: #afafaf;
$grayscale-30: #bababa;
$grayscale-25: #c6c6c6;
$grayscale-20: #d1d1d1;
$grayscale-15: #dddddd;
$grayscale-10: #e8e8e8;
$grayscale-5: #f3f3f3;
$transparent: transparent;
