/*============================================================= Import from Google Fonts =============================================================*/

@import url("https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i|Nunito+Sans:900&display=swap");

/*============================================================= Variables =============================================================*/

%titles {
	font-family: "Nunito Sans", sans-serif;
	text-transform: uppercase;
}

%body {
	font-family: "Muli", sans-serif;
	font-weight: 400;
	font-style: normal;
}

%body-italic {
	font-family: "Muli", sans-serif;
	font-weight: 400;
	font-style: italic;
}

%body-bold {
	font-family: "Muli", sans-serif;
	font-weight: 700;
	font-style: normal;
}

%body-bold-italic {
	font-family: "Muli", sans-serif;
	font-weight: 700;
	font-style: italic;
}

$font-size: 16px;
$font-small: 14px;
$font-big: 18px;
$font-large: 20px;
$icon-font-body: 10px;

/*============================================================= Text styles =============================================================*/

h1 {
	@extend %titles;
	font-size: 32px;
	width: 100%;
     float: left;
     margin: 0 {
          top: $margin*2;
          bottom: $margin*2;
     };

	&.display {
          font-size: 80px;
          margin: 0 {
               top: $margin*4;
               bottom: $margin*4;
          };
	}
}

h2 {
	@extend %titles;
	font-size: 24px;
	width: 100%;
     float: left;
     margin: 0 {
          top: $margin*2;
          bottom: $margin*2;
     };

	&.display {
          font-size: 64px;
          margin: 0 {
               top: $margin*4;
               bottom: $margin*4;
          };
	}
}

h3 {
	@extend %body-bold;
	font-size: 24px;
	width: 100%;
     float: left;
     margin: 0 {
          top: $margin*2;
          bottom: $margin*2;
     };

	&.display {
		@extend %titles;
          font-size: 55px;
          
          margin: 0 {
               top: $margin*3;
               bottom: $margin*3;
          };
	}
}

h4 {
	@extend %titles;
	font-size: $font-big;
	width: 100%;
     float: left;
     margin: 0 {
          top: $margin*1.5;
          bottom: $margin*1.5;
     };

	&.display {
          font-size: 45px;
          margin: 0 {
               top: $margin*3;
               bottom: $margin*3;
          };
	}
}

h5 {
	@extend %body-bold;
	font-size: $font-big;
	width: 100%;
     float: left;
     margin: 0 {
          top: $margin;
          bottom: $margin;
     };

	&.display {
		@extend %titles;
          font-size: 35px;
          
          margin: 0 {
               top: $margin*2;
               bottom: $margin*2;
          };
	}
}

h6 {
	@extend %titles;
	font-size: $font-big;
	width: 100%;
     float: left;
     
     margin: 0 {
          top: $margin;
          bottom: $margin;
     };
}

nav {
	@extend %titles;
     font-size: $font-big;
}

.header-full {
	@extend %titles;
     font-size: 80px;
}

blockquote,
blockquote p {
	@extend %body-bold-italic;
	font-size: $font-big;
	width: 100%;
	float: left;
}

p {
	width: 100%;
     float: left;
     margin: 0 {
          top: $margin;
          bottom: $margin;
     };
}

p,
ul,
ol,
dl,
li {
	@extend %body;
	font-size: $font-size;
	line-height: 25px;

	code {
		float: none;
		background: $lighter-gray;
		@include outline(0.5px, $gray);
		@include border-radius(5px);
		padding-left: 5px;
		padding-right: 5px;
		color: $secondary;
	}
}

strong {
	@extend %body-bold;
}

a,
.breadcrumbs-links a {
	@extend %body-bold;
	color: $primary;
	text-decoration: none;

	&:visited {
		color: $primary;
	}

	&:hover {
		color: $primary-50;
	}

	&:active {
		color: $primary-70;
	}
}

em {
	@extend %body-italic;
}

dt {
	@extend %titles;
}

.badge,
.badge p {
	@extend %body;
	text-transform: uppercase;
	font-size: $font-small;
}

.btn {
	@extend %body-bold;
	text-transform: uppercase;
	font-size: $font-small;

	&.btn-large {
		font-size: $font-large;
	}
}

small {
	@extend %body-italic;
	font-size: $font-small;
	color: $gray;
}

table {
	font-size: $font-small;

	thead {
		@extend %titles;
	}
}

input {
	font-size: $font-small;
	color: $dark-gray;

	&::placeholder {
		color: $gray;
	}

	&:disabled {
		color: $light-gray;
	}
}

.placeholder {
	color: $gray;
	font-size: $font-small;

	&.placeholder-small {
		color: $primary;
		font-size: 10px;
	}

	&.placeholder-disabled {
		color: $light-gray;
	}
}

code {
	font-family: monaco, Consolas, "Lucida Console";
}

.error {
	@extend %body-bold;
	color: $danger;
}

footer {
	@extend %body-bold;
	font-size: $font-big;
}
