/*============================================================= Container =============================================================*/

.container {
	width: 90%;
	max-width: 1200px;
	min-height: 100vh;
	padding: 50px 0;
	margin: 0 auto;

	section {
		width: 100%;
		height: auto;
		margin-top: 20px;
		margin-bottom: 20px;
		float: left;
	}
}

/*============================================================= Grids =============================================================*/

.row {
	width: 100%;
	float: left;
	clear: both;
	margin-bottom: 1em;

	.col-1-12:last-of-type,
	.col-2-12:last-of-type,
	.col-3-12:last-of-type,
	.col-4-12:last-of-type,
	.col-5-12:last-of-type,
	.col-6-12:last-of-type,
	.col-7-12:last-of-type,
	.col-8-12:last-of-type,
	.col-9-12:last-of-type,
	.col-10-12:last-of-type,
	.col-11-12:last-of-type,
	.col-12-12:last-of-type {
		margin-right: 0;

		@media only screen and (max-width: 600px) {
			margin-bottom: 0;
		}
	}
}

/*=================================================== Col 12 ===================================================*/

.col-1-12 {
	width: 6.866%;
	float: left;
	margin-right: 1.6%;

	@media only screen and (max-width: 600px) {
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
}

.col-2-12 {
	width: 15.33%;
	float: left;
	margin-right: 1.6%;

	@media only screen and (max-width: 600px) {
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
}

.col-3-12 {
	width: 23.8%;
	float: left;
	margin-right: 1.6%;

	@media only screen and (max-width: 600px) {
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
}

.col-4-12 {
	width: 32.26%;
	float: left;
	margin-right: 1.6%;

	@media only screen and (max-width: 600px) {
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
}

.col-5-12 {
	width: 40.73%;
	float: left;
	margin-right: 1.6%;

	@media only screen and (max-width: 600px) {
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
}

.col-6-12 {
	width: 49.2%;
	float: left;
	margin-right: 1.6%;

	@media only screen and (max-width: 600px) {
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
}

.col-7-12 {
	width: 57.66%;
	float: left;
	margin-right: 1.6%;

	@media only screen and (max-width: 600px) {
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
}

.col-8-12 {
	width: 66.13%;
	float: left;
	margin-right: 1.6%;

	@media only screen and (max-width: 600px) {
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
}

.col-9-12 {
	width: 74.6%;
	float: left;
	margin-right: 1.6%;

	@media only screen and (max-width: 600px) {
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
}

.col-10-12 {
	width: 83.06%;
	float: left;
	margin-right: 1.6%;

	@media only screen and (max-width: 600px) {
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
}

.col-11-12 {
	width: 91.53%;
	float: left;
	margin-right: 1.6%;

	@media only screen and (max-width: 600px) {
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
}

.col-12-12 {
	width: 100%;
	float: left;

	@media only screen and (max-width: 600px) {
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
}
