/*============================================================= Badges =============================================================*/

.badge {
	float: left;
	padding: 5px 10px;
	color: $white;
	@include border-radius(25px);

	p {
		@extend %paMar;
	}
}
